body {
  color: #eee;
  background-color: #121415;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0;
}

textarea {
  font-family: monospace;
}

textarea,
input,
button {
  background-color: #333330;
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
}

input[type="file"] {
  display: none;
}

.textbox {
  padding: 5px;
  border-width: 7px;
  border-color: #4c90d0;
  background-color: #585858;
  color: #ffffff;
  border-style: solid;
  border-radius: 7px;
}

.textbox1 {
  padding: 5px;
  border-width: 7px;
  border-color: #4c90d0;
  background-color: #585858;
  color: #ffffff;
  border-style: solid;
  border-radius: 7px;
  display: none !important;
}

.choosefile {
  background-color: #ffec64;
  padding: 6px 24px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  color: #333333;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  box-shadow: 0px 1px 0px 0px #fff6af;
  text-shadow: 0px 1px 0px #ffee66;
}

button {
  background-color: #23b418;
  padding: 10px 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}
